h1{
	color: pink;
}
.original{
	width: 4.48%;
}
.foto1{
	position: absolute;
	width: 60%;
	left: 3%;
	top: 21%;
}

.foto2{
	position: absolute;
	width: 60%;
	left: 36%;
	top: 40%;
}

.foto3{
	position: absolute;
	width: 60%;
	left: 3%;
	top: 60%;
}

.foto4{
	position: absolute;
	width: 60%;
	left: 36%;
	top: 83%;
}



#cabecera{
	color: white;
	position: absolute;
	top:  2%;
	left:3.5%;
	height:16%;
	width: 94%;
	background-color: 640000;
	font-size: 450%;
letter-spacing: 0.367em;


}
#indice{
	position: absolute;
	top: 20%;
	left:2%;
	height:300%;
	width: 17%;
	background-color: 6f7a71;
	font-size: 37px;

}
#contenido{
	color: white;
	position: absolute;
	top: 20%;
	left:20%;
	height:300%;
	width: 60%;
	background-color: 7065b8;
	font-size: 21px;
}
#piedepagina{
	position: absolute;
	top: 20%;
	left:81%;
	height:300%;
	width: 18%;
	background-color: lightgray;
	    line-height: 1.8;
    letter-spacing: 0.149em;
    font-weight: 500;
    font-size: 16px;
}


#button li a {
	font-family: Arial;
	font-size: 11px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: gray;
	color:;
 }
