h1{
	color: pink;
}
.original{
	width: 4.48%;
}

#cabecera{
	position: absolute;
	top: 2%;
	left:3.5%;
	height:16%;
	width: 94%;
	background-color: 640000;
	font-size: 72px;
letter-spacing: 0.367em;


}
#indice{
	position: absolute;
	top: 20%;
	left:2%;
	height:100%;
	width: 17%;
	background-color: 6f7a71;
	font-size: 37px;
}
#contenido{
	position: absolute;
	top: 20%;
	left:20%;
	height:100%;
	width: 60%;
	background-color: 7065b8;
}
#piedepagina{
	position: absolute;
	top: 20%;
	left:81%;
	height:100%;
	width: 18%;
	background-color: lightgray;
	    line-height: 1.8;
    letter-spacing: 0.149em;
    font-weight: 500;
    font-size: 16px;
}


#button li a {
	font-family: Arial;
	font-size: 11px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: gray;
	color:;
 }
